.content {
	flex: 1;
	padding: 1rem;
	min-width: 320px;
}

@media (min-width: 768px) {
	.content {
		min-width: 768px;
		max-width: 992px;
	}
}

@media (min-width: 993px) {
	.content {
		min-width: 993px;
		max-width: 1200px;
	}
}
